.urgency-high {
    background-color: red
}

.urgency-medium {
    background-color: yellow;
}

.urgency-low {
    background-color: green;
}

.removeShopCta {
    margin-left: 1vw; 
    font-size: 8vw;
    border-radius: 10px;
    border: none;
}

.shopName {
    text-transform: capitalize;
    text-align: center;
}