.productsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.removeShopCta {
    margin-left: 1vw; 
    font-size: 8vw;
    border-radius: 10px;
    border: none;
}

.shopName {
    text-transform: capitalize;
    text-align: center;
}

.shopDetailsSection {
    margin: 0 1vw 0 4vw;
}