.shopInputSection {
    margin: 3vw;
    display: flex;
    justify-content: space-between;
}

.shopInputLabel {
    font-size: 1.2em;
    margin: 3vw;
}

.shopInput {
    font-size: 1.2em;
    color: rgb(7, 59, 112);
    padding: 2vw;
    border-radius: 10px;
    border: 1px rgb(7, 59, 112) solid;
}