.shopsSection {
   display: flex;
   margin: 2vw;
   list-style: none;
   flex-wrap: wrap;
}

.title {
   text-align: center;
}

.addShopCta {
   text-decoration: none;
   border:1px rgb(7, 59, 112) solid;
   padding: 2.5vw;
   border-radius: 10px;
   text-align: center;
   font-size: 1.2em;
   color: rgb(7, 59, 112);
   width: 100vw;
   margin: 1vw 2vw;
   background: radial-gradient(rgba(28, 127, 227, 0.2), rgba(28, 127, 227, 0.6));
}

.productInputSection {
   margin: 3vw;
   display: flex;
   justify-content: space-between;
}

.productInputLabel {
   font-size: 1.2em;
   margin: 3vw;
}

.productInput {
   font-size: 1.2em;
   color: rgb(7, 59, 112);
   padding: 2vw;
   border-radius: 10px;
   border: 1px rgb(7, 59, 112) solid;
}

.addProductSubtitle {
   text-align: center;
}