.inputSectionWrapper {
    display: flex;
}

.inputSection {
    margin: 2vw;
    text-align: center;
    flex: 1;
}

.input {
    width: 20vw;
    margin: 1vw;
}

.urgencyCtas {
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}

.urgencyCtas > button {
    width: 30vw;
    border-radius: 5px;
    padding: 2vw;
    border:1px rgb(7, 59, 112) solid;
    background-color: rgba(28, 127, 227, 0.2);
    color: rgb(7, 59, 112);
    margin: 1vw;
}

.inputLabel {
    padding: 1vw;
}

.submitButton {
    display: none;
}